{% extends "PsaPageBundle::layout.html.twig" %}

        
{% block main %}

    <h3>Album test</h3>
    <ul>
            {% for album in albums %}
            <li>
            <a href="{{ path('PsaPageBundle_gallery',{'album_id':album.id})}}">album {{album.id}}</a>
            </li>
            {%endfor%}
    </ul>

{% endblock %}
    

