{% extends "PsaPageBundle::layout.html.twig" %}

{% block main %}

    <div id="archive">
             <ul>
                     <li>
                             <span class="leaf"></span>
                             <h3>Do it yourself workouts <em>(3/12/2012)</em></h3>
                             <p>Lorem ipsumdolor sit amet, consec tetuer adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna vel illum dolore eu fuegiat nulla facilisis 
                                     at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore ...<a href="#">Lire la suite</a></p>
                     </li>
                     <li>
                             <span class="leaf"></span>
                             <h3>Fruitful diet <em>(29/11/2012)</em></h3>
                             <p>Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Typi non habent claritatem insitam; est usus legentis in iis 
                                     qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii ...<a href="#">Lire la suite</a></p>
                     </li>
                     <li>
                             <span class="leaf"></span>
                             <h3>Do it yourself workouts <em>(29/11/2012)</em></h3>
                             <p>Lorem ipsumdolor sit amet, consec tetuer adipis cing elitsed diam non ummy nibh euismod tincidunt ut laoreet dolore magna vel illum dolore eu fuegiat nulla facilisis 
                                     at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore ...<a href="#">Lire la suite</a></p>
                     </li>
                     <li>
                             <span class="leaf"></span>
                             <h3>Fruitful diet <em>(27/10/2012)</em></h3>
                             <p>Aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Typi non habent claritatem insitam; est usus legentis in iis 
                                     qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii ...<a href="#">Lire la suite</a></p>
                     </li>
             </ul>
     </div>


{% endblock %}


