{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}



<div class="content-list-article">
<h1 class="titre-list">Article list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Datepublication</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr {%if loop.index is divisibleby(2)%} class="vert-fonc" {%else%}class="vert-clair"{%endif%}>
            <td>{{ entity.titre }}</td>
            <td>{% if entity.datePublication %}{{ entity.datePublication|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('article_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('article_new') }}">
            + Ajouter article
        </a>
    </li>
</ul>
</div>
{% endblock %}	