{% extends "PsaPageBundle::layout.html.twig" %}

{% block main %}
<div class="padder">
							<div id="messages_product_view"></div>
								<table width="100%" border="0" cellpadding="4" cellspacing="4">
									<tbody>
										<tr>
											<td>
												<p></p>
												<h2>Votre interlocutrice :</h2>
												<p>
													Rakoto PSA 
													+261 32 00 000 00
													psamada2012@gmail.com
												</p>
												<p>
													Antananarivo Rue de l'indépendence - ANALAKELY 101
												</p>
												<p></p>
											</td>

										</tr>

									</tbody>
								</table>

								<form action="{{path('PsaPageBundle_contact_send')}}" id="contactForm" method="post">
									<div class="head-alt2">
										<h4 class="title">Informations de contact</h4>
									</div>
									<fieldset class="group-select">
										<ul>
											<li>
												<div class="input-box">
													<label for="name">Nom <span class="required">*</span></label><br>
													<input name="name" id="name" title="Nom" class="required-entry input-text" type="text">
												</div>

												<div class="input-box">
													<label for="email">Email <span class="required">*</span></label><br>
													<input name="email" id="email" title="Email" class="required-entry input-text validate-email" type="text">
												</div>

												<div class="clear"></div>
											</li>
											<li>
												<div class="input-box">
													<label for="telephone">Téléphone</label><br>
													<input name="telephone" id="telephone" title="Téléphone" class="input-text" type="text">
												</div>

												<div class="clear"></div>

											</li>
											<li>
												<div class="input-box">
													<label for="comment">Commentaire <span class="required">*</span></label><br>
													<textarea name="comment" id="comment" title="Commentaire" class="required-entry input-text" style="height: 150px; width: 525px;" cols="50" rows="5"></textarea>
												</div>
											</li>
										</ul>
									</fieldset>
									Ces informations sont confidentielles et ne seront en aucun cas communiquées á des tiers

									<div class="button-set">
										<p class="required">* Champs obligatoires</p>
										<input src="images/btn_submit.gif" alt="Valider" type="image">
									</div>
								</form>
							</div>                		
						</div>					
{% endblock %}


