{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}
	Gérer texte qui somme nous
	<form action="{{ path('pagemeta_update', { 'id': page_meta_about.id }) }}" method="post" {{ form_enctype(edit_form_about) }}>
		{{ form_widget(edit_form_about) }}
		<p>
			<button type="submit">Enregistrer Texte Qui somme nous</button>
		</p>
	</form>
{% endblock %}


