        <img class="news-paperclip" src="{{asset('bundles/psapage/images/commons/content/paperclip.png')}}" alt="paperclip" />
        <div class="news-sidebar">
          <h3>Liens externes</h3>
          <ul>
                <li><a href="http://www.agriculture.gov.mg/" rel="nofollow">Ministère de l'agriculture</a></li>
                <li><a href="http://www.elevage.gov.mg/" rel="nofollow">Ministère de l'Elevage</a></li>
                <li><a href="http://www.peche.gov.mg/" rel="nofollow">Ministère de la Pêche et des Ressources Halieutiques</a></li>
                <li><a href="http://www.psdr-mg.org/" rel="nofollow">PSDR Madagascar</a></li>
          </ul>
        </div>