{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}

<div class="content-list-article">
<h1 class="titre-list">Document list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date_upload</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr {%if loop.index is divisibleby(2)%} class="vert-fonc" {%else%}class="vert-clair"{%endif%} >
            <td>{{ entity.description }}</td>
            <td>{% if entity.dateupload %}{{ entity.dateupload|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('document_edit', { 'id': entity.id }) }}">modifier</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('document_new') }}">
            + Ajouter document
        </a>
    </li>
</ul>
</div>
{% endblock %}