{% extends "PsaAdminBundle::layout.html.twig" %}

{% block main %}
    Gérer texte accueil
	<form action="{{ path('pagemeta_update', { 'id': page_meta_accueil_texte.id }) }}" method="post" {{ form_enctype(edit_form_accueil_texte) }}>
		{{ form_widget(edit_form_accueil_texte) }}
		<p>
			<button type="submit">Enregistrer Texte Accueil</button>
		</p>
	</form>
{% endblock %}


