{% extends "PsaPageBundle::layout.error.html.twig" %}

{% block main %}

    <div id="central" class="logins">
        <div id="errorCenter">
            <img src="{{asset('bundles/psapage/images/error/404.png')}}" alt="PSA 403 Page">
            <h3>Impossible d'atteindre la ressource demandée!</h3>
        </div>
    </div>
{% endblock main %}
