PsaPageBundle_homepage:
    pattern:  /
    defaults: { _controller: PsaPageBundle:Index:index }

PsaPageBundle_contact:
    pattern:  /contact
    defaults: { _controller: PsaPageBundle:Contact:index }
    
PsaPageBundle_article:
    pattern:  /article
    defaults: { _controller: PsaPageBundle:Article:index }
    
PsaPageBundle_archive:
    pattern:  /archive
    defaults: { _controller: PsaPageBundle:Archive:index }
    
PsaPageBundle_document:
    pattern:  /document
    defaults: { _controller: PsaPageBundle:Document:index }
    
PsaPageBundle_about:
    pattern:  /about
    defaults: { _controller: PsaPageBundle:About:index }