{% extends "PsaPageBundle::layout.html.twig" %}

{% block main %}

					
    <div id="page">
        <div class="article">
                <h2 class="title">Titre de l'article 1</h2>
                <p>This is <strong>Networked</strong>, a free, fully standards-compliant CSS template by <a href="http://www.freecsstemplates.org">FCT</a>. The picture in this template is from <a href="http://fotogrph.com/">FotoGrph</a>. This free template is released under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attributions 3.0</a> license, so you are pretty much free to do whatever you want with it (even use it commercially) provided you keep the links in the footer intact. Aside from that, have fun with it :) </p>
                <p class="meta"> Fenonantenaina - 15-11-2012 </p>
        </div>

        <div class="article">
                <h2 class="title">Article 2 edget at eu aliquet eleifend</h2>
                <p> <img src="{{asset('bundles/psapage/photo/pics01.jpg')}}" alt="" width="250" height="250" class="alignleft" />Placerat cras ultrices tristique. Parturient ut ultrices viverra fusce ultricies curae. Phasellus ultrices semper metus facilisis. Tristique quisque ante neque morbi. Luctus aenean risus etiam sodales lobortis lacinia. Hendrerit arcu interdum eu vivamus in nunc. Mollis tincidunt natoque libero posuere auctor quam aliquam. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. </p>
                <p>Placerat cras ultrices tristique. Parturient ut ultrices viverra fusce ultricies curae. Phasellus ultrices semper metus facilisis. Tristique quisque ante neque morbi. Luctus aenean risus etiam sodales lobortis lacinia. Hendrerit arcu interdum eu vivamus in nunc. Mollis tincidunt natoque libero posuere auctor quam aliquam. Pellentesque viverra vulputate enim. <br /></p>
                <p><img src="{{asset('bundles/psapage/photo/pics01.jpg')}}" alt="" width="250" height="250" class="alignright" /> Placerat cras ultrices tristique. Parturient ut ultrices viverra fusce ultricies curae. Phasellus ultrices semper metus facilisis. Tristique quisque ante neque morbi. Luctus aenean risus etiam sodales lobortis lacinia. Hendrerit arcu interdum eu vivamus in nunc. Mollis tincidunt natoque libero posuere auctor quam aliquam. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa.</p>
                <p class="meta"> Fenonantenaina - 10-11-2012 </p>
        </div>

        <div class="article">
                <h2 class="title">Titre de l'article 3 d'egestas lorem praesent feugiat</h2>
                <p> <img src="{{asset('bundles/psapage/photo/pics01.jpg')}}" alt="" width="250" height="250" class="alignleft" />Placerat cras ultrices tristique. Parturient ut ultrices viverra fusce ultricies curae. Phasellus ultrices semper metus facilisis. Tristique quisque ante neque morbi. Luctus aenean risus etiam sodales lobortis lacinia. Hendrerit arcu interdum eu vivamus in nunc. Mollis tincidunt natoque libero posuere auctor quam aliquam. Pellentesque viverra vulputate enim. Aliquam erat volutpat. Pellentesque tristique ante ut risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. Sed vel tellus. Curabitur sem urna, consequat vel, suscipit in, mattis placerat, nulla. Sed ac leo. Pellentesque imperdiet. Donec placerat odio vel elit. Nullam ante orci, pellentesque eget, tempus quis, ultrices in, est. Curabitur sit amet nulla. Nam in massa. </p>
                <p>Duis aliquam ultrices tincidunt feugiat. Laoreet dignissim sociis penatibus. Elit ut lorem euismod. Facilisis mus interdum fringilla magna cubilia fermentum gravida. Pulvinar nec venenatis tristique. Diam consectetur elit augue volutpat. Eleifend lacus quisque arcu auctor tellus. </p>
                <ul class="list">
                        <li class="first"><a href="#">Fermentum non vulputate nunc curabitur integer</a></li>
                        <li><a href="#">Odio molestie est vestibulum non volutpat montes nascetur</a></li>
                        <li><a href="#">Quis proin vulputate vulputate sed volutpat nec aliquam</a></li>
                        <li><a href="#">Feugiat condimentum magna dignissim justo magnis mauris</a></li>
                        <li class="last"><a href="#">Magna convallis curabitur suspendisse auctor risus in fusce</a></li>
                </ul>
                <p class="meta"> Fenonantenaina - 08-10-2012 </p>
        </div>

    </div>

{% endblock %}


