.user-info{
	position:relative;z-index:9999;
	float:right;width:300px;
	background:url(../images/commons/header/userInfo.png) no-repeat 0 50%;
	padding-left:45px;padding-top:0px;height:27px;
}
.user-info-bar{
	position:absolute;
	right:0px;margin-top:7px;
	margin-bottom:0px;line-height:1.25em;
	float:right;padding-top:0px;padding-right:10px;
	padding-bottom:0px;padding-left:0px;background:none;
        font-size: 12px;
}

#userInfo{
    padding-top: 3px;
}

#userInfo a.profile{
    color:#6C4B2D;
    font-size:14px;
    font-weight: bold;
    text-decoration:none;
}

.forum-sidebar {
	display:block;
	height: 100% !important;
	border-radius:0px !important;
	overflow: auto !important;
	clear: both !important;
	padding: 0px !important;
}