
img { 
  border: 0;
}

/* styling for the slideshow on the homepage */
ul.slideshow {
  width: 685px;
  height: 316px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  list-style: none;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;
}
 




/* ARTICLE CSS */


/* Page */

#page {
	overflow: hidden;
	width: 650px;
	/*margin: 0px auto;*/
	padding: 10px 10px;
	/*background: url(../images/commons/content/page-content-bg.png) repeat; */
}


.article img.border {
	border: 6px solid #E1F1F6;
}

.article img.alignleft {
	float: left;
	margin-right: 20px;
}

.article img.alignright {
	float: right;
        margin-left: 20px;
}

.article img.aligncenter {
	margin: 0px auto;
}

.article {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #95BC18; /* #0E2754;*/
        text-align: justify;
        text-decoration: none;
        font-size: 12px;
}

.article .title {
	padding-bottom: 20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	color: #006500; /*#FFFFFF;*/
        /*font-size:2em;*/
        line-height:1.17em
}

.article .title a {
	border: none;
	color: #006500;
}

.article .meta {
	padding-bottom: 5px;
	text-align: right;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 9px;
	font-style: italic;
}

.article .meta a {
}

.article .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}