
img { 
  border: 0;
}

/* styling for the slideshow on the homepage */
ul.slideshow {
  width: 685px;
  height: 316px;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;}
  
ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  list-style: none;}
 
ul.slideshow li.show {
  z-index: 500;}
 
ul img {
  border: none;
}
 




/* ARTICLE CSS */


/* Page */

#page {
	overflow: hidden;
	width: 650px;
	/*margin: 0px auto;*/
	padding: 10px 10px;
	/*background: url(../images/commons/content/page-content-bg.png) repeat; */
}


.article img.border {
	border: 6px solid #E1F1F6;
}

.article img.alignleft {
	float: left;
	margin-right: 20px;
}

.article img.alignright {
	float: right;
        margin-left: 20px;
}

.article img.aligncenter {
	margin: 0px auto;
}

.article {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #95BC18; /* #0E2754;*/
        text-align: justify;
        text-decoration: none;
        font-size: 12px;
}

.article .title {
	padding-bottom: 20px;
	/*letter-spacing: -1px;*/
	text-transform: uppercase;
	color: #006500; /*#FFFFFF;*/
        /*font-size:2em;*/
        line-height:1.17em
}

.article .title a {
	border: none;
	color: #006500;
}

.article .meta {
	padding-bottom: 5px;
	text-align: right;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 9px;
	font-style: italic;
}

.article .meta a {
}

.article .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* ARCHIVES CSS */

#archive, #contacts {
	width: 650px;
	margin-left: 0px;
}
#archive ul {
	list-style: none;
	width: 616px;
	margin: 0 auto;
	padding: 0;
}
#archive ul li {
	height: 100px;
	width: 600px;
	margin: 0 0 10px;
	padding: 20px 20px 20px 30px;
	position: relative;
}
#archive ul li span.leaf {
	/*background-position: 0 10px;*/
	display: block;
	height: 100px;
	width: 117px;
	position: absolute;
	top: -20px;
	left: -25px;
}
#archive ul li span.links {
	position: absolute;
	top: 10px;
	right: 16px;
}
#archive ul li span.links a {
	display: inline-block;
	width: 20px;
	height: 21px;
	margin: 0 2px;
}
#archive ul li span.links a.heart {
	background-position: 0 1px;
}
#archive ul li span.links a.twitter {
	background-position: 0 -32px;
}
#archive ul li span.links a.facebook {
	background-position: 0 -65px;
}

#archive ul li h3 {
	color: #df7801;
	/*font-family: 'DeliusSwashCapsRegular';*/
	letter-spacing: 0px;
	/*line-height: 30px;*/
        line-height:1.17em;
        font-size: 14px;
	margin: 0 0 6px;
	padding-left: 48px;
	text-transform: uppercase;
	color: #006500;
}
#archive ul li h3 em {
	color: #8c7e73;
	font-style: normal;
	font-weight: normal;
}
#archive ul li p {
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	text-align: justify;
}
#archive ul li a.more {
	color: #618200;
	text-decoration: none;
}

span.leaf {
	background: url("../images/commons/content/archive-puce.png") no-repeat;
}

/* NEWS SIDEBAR*/

#news_sidebar_container { 
  float: left;
  width: 224px;
  text-decoration: none;
}

.news-sidebar { 
	
  float: left;
  width: 180px;
  margin: 0 0 17px 0;
  background: #95BC18;/*#25A44A;/*#8CBC12;*/
  border: 1px solid #8CBC12;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  padding: 0 15px 5px 13px;
        -moz-box-shadow:0px 0px 10px #8CBC12;
        -webkit-box-shadow:0px 0px 10px #8CBC12;
        box-shadow:0px 0px 10px #8CBC12;
}
  
.news-sidebar h3, .news-content h1 { 
  padding: 5px 15px 20px 15px;
  /*font: 250% 'Yanone Kaffeesatz';
  text-shadow:  #ffffff 1px 1px;*/
  margin: 0 1px;
  color: #777;
  text-decoration:none;
  text-transform:none;
}

.news-sidebar h3 { 
  padding: 14px 15px 14px 15px;
  color: #74706E;
  font: 190% 'Yanone Kaffeesatz';
  margin-left: 10px;
}

.news-sidebar h4 { 
  color: #c00000;
}

.news-sidebar ul { 
  margin: 0 0 15px 0;
} 

.news-sidebar li a, .news-sidebar li a:hover { 
  color: #555;
  text-decoration: none;
} 

.news-sidebar li a:hover { 
  text-decoration: underline;
} 

.news-sidebar_item, .news-content_item { 
  padding: 15px 0;
}

.news-paperclip { 
  float: left;
  left:5px;
  position: relative; 
  z-index: 0;
  vertical-align: middle; 
  margin: -15px 0 -60px -40px;
}


.news-content { 
  text-align: left;
  width: 700px;
  margin: 0 0 15px 0;
  float: left;
  font-size: 120%;
  padding: 14px 0 0 0;
}
  
.news-content ul { 
  margin: 2px 0 22px 0px;
}

.news-content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/commons/content/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 28px;
  line-height: 1.5em;
}
